<!DOCTYPE html>
<html>
  <head>
    <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
    <script src="gallery.js"></script>
  </head>
  <body>
    <form id="art-gallery">
      <input type="text" placeholder="title" name="title"/>
      <input type="text" placeholder="artist" name="artist"/>
      <input type="text" placeholder="description" name="description"/>
      <input type="submit" value="Add artwork">
    </form>
  </body>
</html>
